.section-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background-main.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(10, 7, 7) 100%);
    pointer-events: none;
}

.section-container__main {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}