.header {
    background: rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.navbar {
    max-width: 1200px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navbar__menu--icon {
    font-size: 1.6em;
    cursor: pointer;
}

.navbar__items {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffffc4;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    transition: 0.5s ease;
    user-select: none;
}

.navbar__items:hover,
.navbar__items:focus {
    color: #ffffff;
    background: #dc143c;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #dc143c, 0 0 20px #dc143c, 0 0 50px #dc143c,
    0 0 100px #dc143c;
    border-radius: 5px;
}


.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo--img {
    width: 80px;
    height: 80px;
}

.navbar__icons {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}